body {
  background-color:	#444444
}
.container {
  border: #CCCCCC 3px solid;
  width:600px;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
}
.title {
  color:white;
  font-style:italic;
  text-align:center;
}
.main-nav {
  text-align:center;
  padding:0;
}
.main-nav li {
  display:inline;
  list-style:none;
  border-right:#CCCCCC 1px solid;
  padding-left:10px;
  padding-right:10px;
}
.divider {
  width:100%;
  border-top:#CCCCCC 1px solid;
  margin top:20px;
  margin-bottom:20px;
}
.main-nav a {
  color:#00D59D;
}
.white-text {
  color:#FFFFFF;
  font-family: sans-serif;

}
.main-nav li:last-child {
  border:none;
}
.grey-text {
  color:#B5B5B5
}
.grey-text-year {
  color:#B5B5B5;
  padding-bottom: 4px;
  font-size:12px;
}
.white-text1 {
  color:#FFFFFF;
  font-family: serif;
  padding-top:4px;
  font-size:14px;
  padding-bottom:1px;
}
p {
  font-size:12px;
  padding: 4px;
  line-height:1.2;
}
h5 {
  letter-spacing:2px;
}
